@import '../styles/colours';
@import '../styles/nodrag';

$header-height: 16px;
$header-padding: 20px;
$header-full-height: ($header-padding * 2) + $header-height;

$padding: 20px;

.container {
	width: 100%;
	height: 100vh;
}

.view {
  width: calc(100% - #{$padding * 2});
  height: calc(100% - #{$header-full-height + ($padding * 2)});
  padding: $padding;
  overflow-y: scroll;
  @include nodrag();
}

.header {
	height: $header-height;
	padding: 20px;

	background-color: $white;

	border-bottom: 1px solid $grey--light;

	&__title {
    border: none;
		color: $grey--medium;

		font-size: 16px;
		font-weight: bold;
	}

  &__btn {
    margin-left: 10px;
    float: right;

    &:last-of-type {
      margin-left: 0;
    }
  }
}
